.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.2em 3.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.icon-close:before {
      background-position: 0em 0em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.icon-set:before {
      background-position: 0em -1.2em;
      width: 2.2em;
      height: 2.2em;
  }





